<div class ="column">
<div class="card">
  <div class="card-content">
      <p> <%= link_to listing.name, listing %></p>
  </div>

  <footer class="card-footer">
    <p class ="card-footer-item">
        host_id: <%= listing.id%>
  <p class ="card-footer-item">
    Host name: <%=link_to listing.host.name,listing.host%>
  </p>
    <p class ="card-footer-item">
    Locations <%=isting.rooms.room_type%>
  </p>
</footer>
</div>
  <% if listing.id > 1%>
  <%= link_to "previous" , listing_path(listing.id-1) %>
  <% else %>
    <button>previous</button>
  <% end %>

    <% if listing.id < Listing.count %>
  <%= link_to "next" , listing_path(listing.id+1) %>
  <% else %>
    <button>next</button>
  <% end %>
</div>