<h4 class="title is-4"> <%= @host.name %></h4>

<div class ="column">
<div class="card">
  <div class="card-content">
      <p>name: <%= @host.name %></p>
          <p>
        host_id: <%= @host.id%>
    </p>
              <p>
        Number of listings: <%= @host.listings.count%>
    </p>
  </div>

  <footer class="card-footer">

  <p class ="card-footer-item">
    listings:<%= render @host.listings %>
  </p>

</footer>
</div>
  <% if @host.id > 1%>
  <%= link_to "previous" , host_path(@host.id-1) %>
  <% else %>
    <button>previous</button>
  <% end %>

    <% if @host.id < Host.count %>
  <%= link_to "next" , host_path(@host.id+1) %>
  <% else %>
    <button>next</button>
  <% end %>
</div>